<?xml version= "1.0" ?>

<model>
   <name>digit</name>
   <version>1.0</version>
   <sdf version="1.6">model.sdf</sdf>
   
   <author>
   	<name> Gabriele Mario Caddeo </name>
   	<email> gabriele.caddeo@iit.it</email>
   </author>
   
   <description>
     A model of a digit senor
   </description>
</model>
